{% sw_extends '@Storefront/storefront/element/cms-element-product-description-reviews.html.twig' %}

{% block element_product_description_reviews_tabs_navigation_description %}
    {{ parent() }}

    {% if page.product.extension('bundles') and page.product.extension('bundles').elements|length > 0 %}
        <li class="nav-item">
            <a class="nav-link product-detail-tab-navigation-link bundle-tab"
               id="bundle-tab-{{ element.data.product.id }}"
               data-bs-toggle="tab"
               data-off-canvas-tabs="true"
               href="#bundle-tab-{{ element.data.product.id }}-pane"
               role="tab"
               aria-controls="bundle-tab-{{ element.data.product.id }}-pane"
               aria-selected="false">
                {{ 'swag-bundle.detail.tabText'|trans }}
            </a>
        </li>
    {% endif %}
{% endblock %}

{% block element_product_description_reviews_tabs_content_description %}
    {{ parent() }}

    {% if page.product.extension('bundles') and page.product.extension('bundles').elements|length > 0 %}
        {% sw_include '@SwagBundleManager/storefront/page/product-detail/bundle-slider.html.twig'
            with { 'bundles': page.product.extension('bundles').elements, 'product': page.product } %}
    {% endif %}
{% endblock %}
